.packages {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
}

.package {
    width: auto;
    margin-top: 40px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.package img {
    width: 150px;
}

.info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}